.favourite-button {
  background-color: rgb(177, 85, 165);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
}
.favourite-button:hover {
  transform: scale(1.05);
  background-color: rgb(201, 130, 191);
}
